*.zip
dist/

.wrangler
node_modules/

.env*
.dev.vars*
nexus.mods.bypass/.claude/settings.local.json
.claude/settings.local.json
/internal/promo
/LeadManagerUI

you need to add this (gitgnore this folder)/
nexusmods

tools/
